{% extends 'base.html' %}
{% block content %}

<div class="container text-center card">
    <div class="row card-header">
        <div class="col-12">
            <h1 class="display-1"><strong>{{ specific_country.country_name }}</strong></h1>
            <h6>Added by {{ specific_country.username }}</h6>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h3>Date to: {{ specific_country.travel_to_date }}</h3>
        </div>
        <div class="col-sm-6">
            <h3>Date from: {{ specific_country.travel_from_date }}</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h3>Flight time to: {{ specific_country.flight_time_to }}</h3>
        </div>
        <div class="col-sm-6">
            <h3>Flight time from: {{ specific_country.flight_time_from }}</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h3>Todo / Done list:</h3><p>{{ specific_country.todo_done }}</p>
        </div>
        <div class="col-sm-6">
            <h3>Hotel:</h3><p>{{ specific_hotel.hotel_name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ml-auto">
            <p>{{ specific_hotel.hotel_address }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ml-auto">
            <p>Postcode: {{ specific_hotel.hotel_postcode }}</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body">
                <h5 class="card-title">User Review:</h5>
                <p class="card-text">{{ specific_country.blog }}</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h3>User Rating:</h3>
            <p>{{ specific_country.rating_cat }}</p>
        </div>
    </div>
    <div class="col-sm-4 ml-auto">
        <a href="{{ url_for('travel_planner') }}" class="btn btn-primary">Back</a>
        <a href="{{ url_for('edit_country', country_id=specific_country._id) }}" class="btn btn-primary">Edit</a>
    </div>
    <br>
</div>

{% endblock %}
