{% extends 'base.html' %}
{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <h1 class="display-1 current-country">
                {{ specific_country.country_name }}
            </h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h3>Date to: {{ specific_country.travel_to_date }}</h3>
        </div>
        <div class="col-sm-6">
            <h3>Date from: {{ specific_country.travel_from_date }}</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h3>Flight time to: {{ specific_country.flight_time_to }}</h3>
        </div>
        <div class="col-sm-6">
            <h3>Flight time from: {{ specific_country.flight_time_from }}</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h3>Todo / Done list</h3><p>{{ specific_country.todo_done }}</p>
        </div>
        <div class="col-sm-6">
            <h3>Hotel</h3><p>{{ specific_hotel.hotel_name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ml-auto">
            <p>{{ specific_hotel.hotel_address }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ml-auto">
            <p>Postcode: {{ specific_hotel.hotel_postcode }}</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h3>Key notes:</h3>
        </div>
        <div class="col-sm-12">
            <p>{{ specific_country.blog }}</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h3>Rating:</h3>
            <p>{{ specific_country.rating }} / 5</p>
        </div>
    </div>
    <div class="col-sm-4 ml-auto">
        <a href="{{ url_for('travel_planner') }}" class="btn btn-primary">Back</a>
    </div>
</div>

{% endblock %}



<h1>{{ specific_country.country_name }}</h1>
<h2>{{ specific_country.travel_to_date }}</h2>
<h3>{{ specific_country.travel_from_date }}</h3>
<h4>{{ specific_country.flight_time_to }}</h4>
<h5>{{ specific_country.flight_time_from }}</h5>
<h5>{{ specific_country.todo_done }}</h5>
<h5>{{ specific_country.blog }}</h5>
<h5>{{ specific_country.rating }}</h5>
<h5>{{ specific_country.hotel_name }}</h5>

<h1>{{ specific_hotel.hotel_name }}</h1>
<h1>{{ specific_hotel.hotel_address }}</h1>