{% extends 'base.html' %}
{% block content %}

    <h1>{{ specific_country.country_name }}</h1>
    <h2>{{ specific_country.travel_to_date }}</h2>
    <h3>{{ specific_country.travel_from_date }}</h3>
    <h4>{{ specific_country.flight_time_to }}</h4>
    <h5>{{ specific_country.flight_time_from }}</h5>
    <h5>{{ specific_country.todo_done }}</h5>
    <h5>{{ specific_country.blog }}</h5>
    <h5>{{ specific_country.rating }}</h5>
    <h5>{{ specific_country.hotel_name }}</h5>

    <h1>{{ specific_hotel.hotel_name }}</h1>
    <h1>{{ specific_hotel.hotel_address }}</h1>


{% endblock %}