{% extends 'base.html' %}
{% block content %}

<div class="card">
    <h2 class="card-header">Find your destination here</h2>
        <iframe width="100%" height="535" src="{{ url_for('my_map') }}" frameborder="0" allowfullscreen></iframe>
    </div>
</div>


<script type="text/javascript">

    var addition = "DEFAULT LOCATION";
    var options = {
        enableHighAccuracy: true,
        timeout: 5000 * 60,
        maximumAge: 0
    };

    if (navigator.geolocation) {
        console.log('geolocation supported');
        navigator.geolocation.getCurrentPosition(success, error, options);
    } else {
        console.log("geolocation not supported");
        console.log(addition);
    }

    function success(position) {
        addition = position.coords.latitude + "," + position.coords.longitude;
        console.log(addition);
    }   

    function error(err) {
        console.error(err.message);
    }
    
</script>

{% endblock %}

<!-- <script type="text/javascript">

    function onPositionReceived(position){
        console.log(position)
    }

    function locationNotReceived(positionError){
        console.log(positionError);
    }

    if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(onPositionReceived, locationNotReceived,{timeout:10000});

        var watch = navigator.geolocation.watchPosition(onPositionReceived, locationNotReceived);
        navigator.geolocation.clearWatch(watch);
    }
    
</script> -->