{% extends 'base.html' %}
{% block content %}

    <div class="card">
        {% for message in get_flashed_messages() %}
        <div class="card-header mx-auto d-block">
            <h5>{{message}}</h5>
        </div>
        {% endfor %}
    </div>

    {% for count in country %}
        <div class="card border-dark mb-3 text-center justify-content-center" style="max-width: 18rem; float: left; margin: 20px;">
            <div class="card-header">
                <h5>{{ count.country_name }}</h5>
            </div>
            <div class="card-body">
                <p class="card-title"><b>Username: {{ count.username }}</b></p>
                <p class="card-title">Travel to: {{ count.travel_to_date }} at {{ count.flight_time_to }}</p>
                <p class="card-title">Travel from: {{ count.travel_from_date }} at {{ count.flight_time_from }}</p>
                <p class="card-text">Rating: {{ count.rating }}</p>
                <div class="col-sm-12">
                    <a href="{{ url_for('current_country', country_id=count._id) }}" class="btn btn-primary">View</a>
                    <a href="{{ url_for('edit_country', country_id=count._id) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ url_for('delete_country', country_id=count._id) }}" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <br>
    <div class="col-sm-4 ml-auto fixed-bottom" style="margin-bottom: 5px;">
        <a href="{{ url_for('add_country') }}" class="btn btn-primary">Add to planner</a>
    </div>

{% endblock %}
