{% extends 'base.html' %}
{% block content %}

<div class="col-sm-12 card">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="card-header text-center">
            <h5>{{ message }}</h5>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>

{% for count in country %}
<div class="container card text-center main-card">
    <div class="card-header">
        <h5>{{ count.country_name }}</h5>
    </div>
    <div class="card-body">
        <p class="card-title"><b>Username: {{ count.username }}</b></p>
        <p class="card-title">Travel to: {{ count.travel_to_date }} at {{ count.flight_time_to }}</p>
        <p class="card-title">Travel from: {{ count.travel_from_date }} at {{ count.flight_time_from }}</p>
        <p class="card-text">Rating: {{ count.rating_cat }}</p>
        <div class="col-sm-12">
            <a href="{{ url_for('current_country', country_id=count._id) }}" class="btn btn-primary">View</a>
            <a href="{{ url_for('edit_country', country_id=count._id) }}" class="btn btn-primary">Edit</a>
            <a href="{{ url_for('delete_country', country_id=count._id) }}" class="btn btn-primary">Delete</a>
        </div>
    </div>
</div>
{% endfor %}
<br>
<div class="col-sm-4 ml-auto">
    <a href="{{ url_for('add_country') }}" class="btn btn-primary">Add to planner</a>
</div>

{% endblock %}